.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #7ca6e9;
}

h1 {
  margin: 30px;
  font-family: 'Dosis', sans-serif;
  
  font-size: 8rem;
  color: #1e2b57;
}

p {
  font-size: 2rem;
  color: #142450;
  font-family: 'Dosis', sans-serif;
  
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #1d2c5f;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;

}

